@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #27A383;
  --primary-dark: #277561;
}

body {
  font-family: 'DM Sans', sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero-gradient {
  background: linear-gradient(60deg, #1A5F4EFF, var(--primary));
  background-size: 100% 100%;
  animation: gradient 7s ease infinite;
}